.single-type-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  
  .single-type-info {
    flex: 1;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--textSoft);
    height: max-content;
  }
  
  .single-type-img-container{
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .single-type-img-container img{
   object-fit: contain;
   width: 100% !important;
  }
  
  .single-type-form-container {
    flex: 3;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
  }
  
  .single-type-form{
    display: flex;
    flex-direction: column;
  }
  
  .single-type-form input, .single-type-form textarea, .single-type-form select{
    padding: 20px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    margin: 10px 0px;
  }
  
  .single-type-form label{
    font-size: 12px;
  }
  
  .single-type-form button{
    width: 100%;
    padding: 20px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }