.container{
    display: flex;
}

.menu{
flex:1;
background-color: var(--bgSoft);
padding: 20px;
min-height: 100vh;
border-left: solid 2px var(--green);
color:var(--pink)
}

.content{
flex:4;
padding: 20px;
}

@media screen and (max-width:700px) {
.menu{
    max-width: 0px;
    background-color: var(--bg);
}
}