
.turns-list {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.turns-list-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.turns-list-add-button {
  padding: 10px;
  padding: 10px;
  color: var(--pink);
  border: solid 2px var(--pink);
  border-radius: 5px;
  cursor: pointer;
  
}

.turns-list-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.turns-list-turn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

.turns-list-turn-image {
  border-radius: 50%;
  object-fit: cover;
}

.turn-in-list {
  border-radius: 20px;
  box-shadow: 0 0 5px white;
  padding: 20px;
  margin: 10px;

}

.turns-list-buttons {
  display: flex;
  gap: 10px;
  direction: ltr;
}

.turns-list-button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.turns-list-view {
  background-color: teal;
}

.turns-list-delete {
  background-color: crimson;
}

/* ---------------------------------------------- */
.times {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.date {
  text-align: center;
}